/*--- Página de estilo ---*/
body
   { 
     background-color: #cccccc;
     background-image: linear-gradient(grey, white);
     border: 5px black double;
   }
h1
   {
     font-family: 'Sofadi One', cursive;
     text-shadow: 2px 2px 2px rgb(68, 68, 68);
   }
h2
   {
     font-family: 'Sofadi One', cursive;
   }
h3
   {
     font-family: 'Sofadi One', cursive;
   }
p
   {
     color: rgb(41, 36, 36); font-family: 'Sofadi One', cursive;
   }
img
   {
     border-radius: 60px;
   }
.icono i
   {
    color: rgb(88, 81, 219);
    font-size: 60px;
    padding-right: 75px; 
   }